.qsys_edit

soc_system.bsf
soc_system.cmp
soc_system.html
soc_system_generation.rpt
soc_system_generation_1.rpt
soc_system.qws
soc_system.sopcinfo

PLLJ_PLLSPE_INFO.txt
c5_pin_model_dump.txt
db
hc_output
hps_isw_handoff
hps_sdram_p0_all_pins.txt
hps_sdram_p0_summary.csv
incremental_db
output_files
soc_system
soc_system_mem_if_ddr3_emif_0_p0_all_pins.txt
soc_system_mem_if_ddr3_emif_0_p0_summary.csv
stamp
*~
soc_system_assignment_defaults.qdf
soc_system_hps_0_hps.svd
cio_dump_disallowed_lists.echo
*.bak

reconfig_mif/
software/
tgz/

*.dts
*.dtb
